@charset "UTF-8";

@import url("stylepcl.css") screen and (min-width:1280px);
@import url("stylepcs.css") screen and (min-width:769px) and (max-width:1279px);
@import url("styletb.css") screen and (min-width:641px) and (max-width:768px);
@import url("stylesm.css") screen and (max-width:640px);

/*@import url("stylesm.css") screen and (max-width:640px); → スマホ版*/
