@charset "UTF-8";

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.widthrule {
  width: 640px;
  height: auto;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.5em;
}

ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}


/* HEADER */

header {
  height: 50px;
  width: auto;
}

nav ul {
  position: relative;
  text-align: center

}

nav li {
  zoom: 1;
  display: inline;
  height: auto;
  z-index: 10;
}

nav ul li a img {
  height: 14px;
  width: auto;
  margin-right: 2%;
  margin-left: 2%;
}

.navbar {
  position: absolute;
  width: 640px;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  transform: translate(-50%,0);
}


/* BODY */

html {
  width: 100%;
  height: 0px;
}

body {
  width: 100%;
  height: 0px;
}


/* TOP */
#top {
  /* standards */
  height: 600px;
  width: 640px;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
}

.inner1 {
  position: absolute;
  height: 600px;
  width: 640px;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  transform: translate(-50%,0);
  z-index: 3;
}

h1 {
  z-index: 100;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  font-size: 1.3em;
  letter-spacing: 0.24em;
  color: #00afea;
}

.bec_logo {
  z-index: 100;
  position: absolute;
  width: 150px;
  height: auto;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.building {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: auto;
  top: 100%;
  -webkit-transform: translate(0,-100%);
  -moz-transform: translate(0,-100%);
  transform: translate(0,-100%);
}

.building_bg {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: auto;
  top: 100%;
  -webkit-transform: translate(0,-100%);
  -moz-transform: translate(0,-100%);
  transform: translate(0,-100%);
}


/* INFORMATION */

#information {
  height: 1080px;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.inner2 {
  position: absolute;
  height: 1080px;
  width: 640px;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  transform: translate(-50%,0);
}

h2 {
  /* text-style */
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  font-size: 1.2em;
  color: #848484;
  letter-spacing: 0.35em;
  line-height: 0.8em;
  text-align: center;
  text-justify: inter-ideograph;
  display: block;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 20px;
}

.info {
  z-index: 99;
  position: absolute;
  width: auto;
  height: 408px;
  top: 250px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.trophy {
  z-index: 101;
  position: absolute;
  width: 91px;
  height: 192px;
  top: 241px;
  right: 18px;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.info_wall {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: auto;
  top: 360px;
  left: 50%;
  margin-top: 115px;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin-bottom: 10px;
}

.takatani {
  z-index: 102;
  position: absolute;
  width: 96px;
  height: 200px;
  top: 400px;
  right: -20px;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.kurose {
  z-index: 103;
  position: absolute;
  width: 79px;
  height: 200px;
  top: 400px;
  left: -20px;
  -webkit-transform: translate(50%,-50%);
  -moz-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  -ms-transform: translate(50%,-50%);
}

.flower {
  z-index: 101;
  position: absolute;
  width: 91px;
  height: 155px;
  top: 224px;
  left: 116px;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

/* 社長コメント */

.kotoba {
  height: 470px;
  width: 470px;
  position: relative;
  margin: 0 auto;
  top: 580px;
}

.kotobastyle {
  font-weight: 100;
  font-size: 0.4em;
  color: #848484;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  position: relative;
  margin-top: 8px;
  text-align: justify;
}

.kotoba > img {
  position: relative;
  width: 100%;
  margin: 15px 0 10px;
}

/* - - - - - - - - - - - - SERVICE - - - - - - - - - - - - */

.inner3 {
  position: absolute;
  height: 550px;
  width: 640px;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  transform: translate(-50%,0);
}

#service {
  height: 550px;
  width: 100%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.bar {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0%;
}

.service_bg {
  z-index: 1;
  position: absolute;
  width: 640px;
  height: auto;
  top: 150px;
}

.screen {
  z-index: 3;
  position: absolute;
  width: 472px;
  height: 265px;
  margin-top: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.satoh-san {
  z-index: 5;
  position: absolute;
  width: auto;
  height: 150px;
  top: 72%;
  left: 84%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.stair {
  z-index: 3;
  position: absolute;
  width: auto;
  height: 125px;
  top: 84%;
  right: 83%;
  margin: initial;
  -webkit-transform: translate(50%,-50%);
  -moz-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  -ms-transform: translate(50%,-50%);
}

.service_title {
  z-index: 7;
  position: absolute;
  width: auto;
  height: 50px;
  top: 100px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.ad {
  z-index: 4;
  position: absolute;
  width: 440px;
  height: 232px;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

/* - - - - - - - - - - - - RECRUIT - - - - - - - - - - - - */
/* images */

@media screen and (min-width: 641px){
.none_sm {display:none}

@media screen and (min-width: 641px){
.none_onlysm {display:none}
}

@media screen and (min-width: 641px){
.none_onlypc {display:none}
}


#recruit {
  height: 870px;
  width: 640px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.inner4 {
  height: 550px;
  width: 100%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.recruit_room {
  /* room */
  z-index: 1;
  position: absolute;
  width: 640px;
  height: auto;
  margin-top: -5px;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.recruit_stair {
  /* stair */
  z-index: 2;
  position: absolute;
  width: 640px;
  height: auto;
  top: 44.3%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.logo {
  /* すべてのタイトルロゴに適応 */
  z-index: 20;
  position: absolute;
  width: auto;
  height: 50px;
  top: 100px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.takahashi {
  /* takahashi */
  z-index: 9;
  position: absolute;
  width: auto;
  height: 150px;
  top: 71%;
  left: 72%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.recruit_contact {
  z-index: 8;
  position: absolute;
  width: auto;
  height: 110px;
  top: 33%;
  left: 64%;
  -webkit-transform: translate(50%,50%);
  -moz-transform: translate(50%,50%);
  transform: translate(50%,50%);
}

.longboard {
  /* longboard */
  z-index: 4;
  position: absolute;
  width: 350px;
  height: 260px;
  top: 75.6%;
  right: 69%;
  -webkit-transform: translate(50%,-50%);
  -moz-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  -ms-transform: translate(50%,-50%);
}

.recruit_text {
  /* style */
  z-index: 5;
  position: absolute;
  height: 90px;
  width: 260px;
  top: 65%;
  right: 71%;
  -webkit-transform: translate(50%,-50%);
  -moz-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  -ms-transform: translate(50%,-50%);

  /* text-style */
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","ヒラギノ角ゴ ProW3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
  font-size: 0.4em;
  color: #848484;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  text-align: justify;
  text-justify: inter-ideograph;
}

.emphasize {
  color: #00afea;
  font-weight: bold;
}

.little {
  line-height: 0.3em;
  font-size: 0.6em;
}

/* contacts */
#recruit > div:last-child {
  height: 320px;
  width: 470px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

#recruit > div:last-child > ul {
  height: 190px;
  width: 100%;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-margin-start: 0;
}

#recruit > div:last-child > ul  > li {
  width: 140px;
  height: 100%;
  float: left;
  text-align: justify;
  text-justify: inter-ideograph;
}

#recruit > div:last-child > ul  > li:nth-child(-n+2) {
  margin-right: 25px;
}

#recruit > div:last-child > div {
  height: 50px;
  width: 470px;
  position: relative;
}

#recruit ul{
  list-style: none;
}

.posiname {
  color: #00afea;
  font-weight: 800;
  font-size: 0.8em;
}

#recruit ul > li > span:last-child {
  color: #000000;
  font-weight: 100;
  font-size: 0.6em;
  color: #848484;
  letter-spacing: 0em;
  line-height: 0.5em;
}

.posistyle {
  color: #000000;
  font-weight: 100;
  font-size: 0.4em;
  color: #848484;
  letter-spacing: 0.1em;
  line-height: 1.0em;
}

.longrect {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #00afea;
  margin-top: 1px;
  margin-bottom: 4px;
}

.contactformimg {
  text-align: center;
  margin:0 auto;
}

.contactformimg img {
  margin-top: 50px;
  margin-left: -20px;
  width:35%;
}


/* - - - - - - - - - - - - COMPANY - - - - - - - - - - - - */
/* images */

#company {
  height: 1680px;
  width: 640px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.inner5 {
  height: 450px;
  width: 100%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.company_room {
  /* room */
  z-index: 1;
  position: absolute;
  width: 640px;
  height: auto;
  top: 200px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.mediakit {
  /* mediakit */
  z-index: 4;
  position: absolute;
  width: auto;
  height: 178px;
  margin-top: 26px;
  margin-left: 40px;
  top: 200px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.toyo {
  /* toyosan */
  z-index: 9;
  position: absolute;
  width: auto;
  height: 150px;
  margin-left: -175px;
  top: 200px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}


.chair{
  /* table */
  z-index: 3;
  position: absolute;
  width: 321px;
  height: auto;
  margin-top: 115px;
  margin-left: 50px;
  top: 200px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.clothes {
  /* clothes */
  z-index: 2;
  position: absolute;
  width: 180px;
  height: auto;
  margin-top: 10px;
  margin-left: 210px;
  top: 200px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.takakuwa {
  /* takakuwa */
  z-index: 9;
  position: absolute;
  width: auto;
  height: 150px;
  margin-top: 140px;
  margin-left: 270px;
  top: 200px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.montiraymi {
  /* montiraymi */
  z-index: 9;
  position: absolute;
  width: auto;
  height: 150px;
  margin-top: 140px;
  margin-left: 170px;
  top: 200px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

/* 会社概要 */

dt {
    float: left;
    text-align: right;
    font-weight: 700;
    color: #00afea;
    padding: 5px 0;
    width: 210px;
}

dd {
    overflow: auto;
    /* float: right; */
    text-align: left;
    margin: 0px;
    overflow:auto;
    padding: 5px 5px 10px 10px;
    width: 215px;
}

dl {
    margin: 0px;
    font-size: 0.7rem;
    letter-spacing: 0.2em;
}

.colour {
  color:#fafafa;
}

.l-overview {
    padding: 15px 15px;
    background: #fafafa;
    border-radius: 5px;        /* CSS3 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome */
    -moz-border-radius: 5px;
}

.company-information {
    width: 470px;
    position: relative;
    margin: auto;
}

.section1 {
    background-color: #fafafa;
    padding: 25px 0px;
    display: block;
    box-sizing: border-box;
    text-align: center;
    -webkit-margin-before: 7px;
    -webkit-margin-after: 7px;
}

.access-information {
    width: 470px;
    position: relative;
    margin: auto;
}

.section2 {
    background-color: #fafafa;
    padding: 25px 0px;
    display: block;
    box-sizing: border-box;
    text-align: center;
    -webkit-margin-before: 36px;
    -webkit-margin-after: 7px;
}

.companyrect {
    background-color: #fafafa;
    padding: 5px;
    margin: 5px;
    width: 50%;
    height: auto;
    float: left;
    -moz-border-radius: 10px;
}

.float-clear {
    clear: both;
}


.company-access {
    padding-top: 80px;
    width: 470px;
    position: relative;
    margin: auto;
}





/* BOTTOM */
/* images */

#bottom  {
  height: 700px;
  width: 640px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.inner6{
  height: 750px;
  width: 100%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.garden{
  z-index: 1;
  position: absolute;
  width: 640px;
  height: auto;
  margin-top: 400px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.saimura{
  z-index: 2;
  position: absolute;
  height: 135px;
  width: auto;
  right: 50%;
  margin-top: 540px;
  margin-right: 195px;
  -webkit-transform: translate(50%,-50%);
  -moz-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  -ms-transform: translate(50%,-50%);
}

.ozawa{
  z-index: 2;
  position: absolute;
  height: 130px;
  width: auto;
  right: 50%;
  margin-top: 540px;
  margin-right: 80px;
  -webkit-transform: translate(50%,-50%);
  -moz-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  -ms-transform: translate(50%,-50%);
}

.mori{
  z-index: 2;
  position: absolute;
  height: 180px;
  width: auto;
  left: 50%;
  margin-top: 590px;
  margin-left: 52px;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.kato{
  z-index: 2;
  position: absolute;
  height: 147px;
  width: auto;
  left: 50%;
  margin-top: 600px;
  margin-left: 195px;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}


.clear {
  clear: both;
}


#mainContents a {
  color: #00afea;
  text-decoration: none;
  font-family: 'HelveticaNeue-UltraLight';
  font-size: 0.8em;
}

/*a:hover {
  color: #06F;  
}*/

#newpress, #newinfo {
  font-family: 'Raleway', sans-serif;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #00afea;
  font-weight: 100;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 5px;
}

div#newpress, div#newinfo{
    margin-top: -50px; /* リンク位置上昇分 */
    padding-top: 50px; /* 上昇分を戻す分 */
}

/* Information */
#info {
  margin-top:40px;
  margin-bottom:80px;
}

#pressRelease {
  padding-bottom: 60px;
  width: 100%;
}

#information {
  width: 100%;
}


.title {
  height: 30px;
  padding-bottom: 10px;
}



.title .more {
  float: right;
  font-size: 13px;
  padding-right: 50px;
}

.archives {
  border-top: 2px solid #444547;
  font-size: 7px;
}

.archives li {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","ヒラギノ角ゴ ProW3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
  border-bottom: 1px solid #00afea;
  padding: 7px 0px;
  width: 100%;
  float: left;
  text-align: center;
  line-height: 250%;
}

.archives li:hover {
  background-color: #f9f9f9;
}

.archives li .date {
  width: 10%;
  float: left;
  text-align: left;
  line-height: 1.5;
}

.archives li .detail {
  margin-left: 8%;
  width: 75%;
  float: left;
  text-align: justify;
  line-height: 2;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


#mainContents {
  position: absolute;
  z-index: 100;
  float: none;
  margin: 0px auto;
  width: 400px;
  top: 300px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  height:430px;
  overflow-x: hidden;
}


.archives {
  list-style-type: none;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: inline;
}

/*li a:hover {
  color: #0CF;
}*/

#infolink {
  text-align: center;
  margin: 0.5rem 0;
}

#infolink span {
  color: #f2f2f2;
}

#scrollbar {
  overflow:scroll;
  height: 200px;
  border:0px solid black;
.body{
  overflow-x: hidden; }
.body{
  overflow-x: hidden; }
.body{
  overflow-x: hidden; }
  overflow-x: hidden;
  overflow-x: hidden;
}

#scrollbar .longrect {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #f2f2f2;
  margin-top: 1.2rem;
  margin-bottom: 3.0rem;
}

#content_info {
  height: auto;
}

