@charset "UTF-8";

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.widthrule {
  width: 1280px;
  height: auto;
}

ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}


/* HEADER */

header {
  height: 100px;
  width: auto;
}

nav ul {
  position: relative;
  text-align: center

}

nav li {
  zoom: 1;
  display: inline;
  height: auto;
  z-index: 10;
}

nav ul li a img {
  height: 20px;
  width: auto;
  margin-right: 2%;
  margin-left: 2%;
}

.navbar {
  position: absolute;
  width: 1280px;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  transform: translate(-50%,0);
}


/* BODY */

html {
  width: 100%;
  height: 0px;
}

body {
  width: 100%;
  height: 0px;
}


/* TOP */
#top {
  /* standards */
  height: 1200px;
  width: 1280px;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
}

.inner1 {
  position: absolute;
  height: 1200px;
  width: 1280px;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  transform: translate(-50%,0);
  z-index: 3;
}

h1 {
  z-index: 100;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  font-size: 2.6em;
  letter-spacing: 0.24em;
  color: #00afea;
}

.bec_logo {
  z-index: 100;
  position: absolute;
  width: 300px;
  height: auto;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.building {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: auto;
  top: 100%;
  -webkit-transform: translate(0,-100%);
  -moz-transform: translate(0,-100%);
  transform: translate(0,-100%);
}

.building_bg {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: auto;
  top: 100%;
  -webkit-transform: translate(0,-100%);
  -moz-transform: translate(0,-100%);
  transform: translate(0,-100%);
}


/* INFORMATION */

#information {
  height: 2000px;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.inner2 {
  position: absolute;
  height: 2000px;
  width: 1280px;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  transform: translate(-50%,0);
}

h2 {
  /* text-style */
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  font-size: 1.5em;
  color: #848484;
  letter-spacing: 0.35em;
  line-height: 1.6em;
  text-align: center;
  text-justify: inter-ideograph;
  display: block;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 40px;
}

.info {
  z-index: 99;
  position: absolute;
  width: auto;
  /* height: 800px; */
  top: 500px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.trophy {
  z-index: 101;
  position: absolute;
  width: 192px;
  height: 385px;
  top: 481px;
  right: 30px;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.info_wall {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: auto;
  top: 550px;
  left: 50%;
  margin-top: 330px;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin-bottom: 10px;
}

.takatani {
  z-index: 102;
  position: absolute;
  width: 193px;
  height: 400px;
  top: 800px;
  right: -20px;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.kurose {
  z-index: 103;
  position: absolute;
  width: 159px;
  height: 400px;
  top: 800px;
  left: -20px;
  -webkit-transform: translate(50%,-50%);
  -moz-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  -ms-transform: translate(50%,-50%);
}

.flower {
  z-index: 101;
  position: absolute;
  width: 182px;
  height: 310px;
  top: 445px;
  left: 230px;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

/* 社長コメント */

.kotoba {
  height: 800px;
  width: 940px;
  position: relative;
  margin: 0 auto;
  top: 1120px;
}

.kotobastyle {
  font-weight: 100;
  font-size: 0.9em;
  color: #848484;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  position: relative;
  margin-top: 25px;
  text-align: justify;
}

.kotoba > img {
  position: relative;
  width: 100%;
  margin: 30px 0 20px;
}

/* - - - - - - - - - - - - SERVICE - - - - - - - - - - - - */

.inner3 {
  position: absolute;
  height: 1100px;
  width: 1280px;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  transform: translate(-50%,0);
}

#service {
  height: 1100px;
  width: 100%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.bar{
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 80px;
  top: 0%;
}

.service_bg {
  z-index: 1;
  position: absolute;
  width: 1280px;
  height: auto;
  top:300px;
}

.screen {
  z-index: 3;
  position: absolute;
  width: 931px;
  height: 538px;
  margin-top: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.satoh-san {
  z-index: 5;
  position: absolute;
  width: auto;
  height: 300px;
  top: 72%;
  left: 82%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.stair {
  z-index: 3;
  position: absolute;
  width: auto;
  height: 250px;
  top: 85%;
  right: 83%;
  -webkit-transform: translate(50%,-50%);
  -moz-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  -ms-transform: translate(50%,-50%);
}

.service_title {
  z-index: 7;
  position: absolute;
  width: auto;
  height: 100px;
  top: 200px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.ad {
  z-index: 4;
  position: absolute;
  width: 860px;
  height: auto;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

/* - - - - - - - - - - - - RECRUIT - - - - - - - - - - - - */
/* images */

@media screen and (min-width: 641px){
.none_sm {display:none}
}

@media screen and (min-width: 641px){
.none_onlysm {display:none}
}

@media screen and (min-width: 641px){
.none_onlytb {display:none}
}


#recruit {
  height: 1400px;
  width: 1280px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.inner4 {
  height: 900px;
  width: 100%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.recruit_room {
  /* room */
  z-index: 1;
  position: absolute;
  width: 1280px;
  height: auto;
  margin-top: -5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.recruit_stair {
  /* stair */
  z-index: 2;
  position: absolute;
  width: 1280px;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.logo {
  /* すべてのタイトルロゴに適応 */
  z-index: 20;
  position: absolute;
  width: auto;
  height: 100px;
  top: 200px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.takahashi {
  /* takahashi */
  z-index: 9;
  position: absolute;
  width: auto;
  height: 300px;
  top: 78%;
  left: 70%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.recruit_contact {
  z-index: 8;
  position: absolute;
  width: auto;
  height: 230px;
  top: 35%;
  left: 62%;
  -webkit-transform: translate(50%,50%);
  -moz-transform: translate(50%,50%);
  transform: translate(50%,50%);
}

.longboard {
  /* longboard */
  z-index: 4;
  position: absolute;
  width: auto;
  height: 220px;
  margin-right: 280px;
  margin-top: 210px;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%,-50%);
  -moz-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  -ms-transform: translate(50%,-50%);
}

.recruit_text {
  /* style */
  z-index: 5;
  position: absolute;
  height: 170px;
  width: 520px;
  top: 75%;
  right: 71.6%;
  -webkit-transform: translate(50%,-50%);
  -moz-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  -ms-transform: translate(50%,-50%);

  /* text-style */
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","ヒラギノ角ゴ ProW3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
  font-size: 0.8em;
  color: #848484;
  letter-spacing: 0.12em;
  line-height: 1.6em;
  text-align: justify;
  text-justify: inter-ideograph;
}

.emphasize {
  color: #00afea;
  font-weight: bold;
}

.little {
  line-height: 0.3em;
  font-size: 0.6em;
}

/* contacts */
#recruit > div:last-child {
  height: 500px;
  width: 940px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

#recruit > div:last-child > ul {
  height: 220px;
  width: 100%;
  position: relative;
  margin-top: 50px;
  margin-bottom: 20px;
  -webkit-margin-start: 0;
}

#recruit > div:last-child > ul  > li {
  width: 280px;
  height: 100%;
  float: left;
  text-align: justify;
  text-justify: inter-ideograph;
}

#recruit > div:last-child > ul  > li:nth-child(-n+2) {
  margin-right: 50px;
}

#recruit > div:last-child > div {
  height: 200px;
  width: 940px;
  position: relative;
}

#recruit ul{
  list-style: none;
}

.posiname {
  color: #00afea;
  font-weight: 800;
}

#recruit ul > li > span:last-child {
  color: #000000;
  font-weight: 100;
  font-size: 0.8em;
  color: #848484;
  letter-spacing: 0.1em;
  line-height: 1.6em;
}

.posistyle {
  color: #000000;
  font-weight: 100;
  font-size: 0.8em;
  color: #848484;
  letter-spacing: 0.1em;
  line-height: 1.6em;
}

.longrect {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #00afea;
  margin-top: 2px;
  margin-bottom: 8px;
}

.contactformimg {
  text-align: center;
  margin:0 auto;
}

.contactformimg img {
  margin-top: 50px;
  margin-left: -20px;
  width:35%;
}


/* - - - - - - - - - - - - COMPANY - - - - - - - - - - - - */
/* images */

#company {
  height: 2300px;
  width: 1280px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.inner5 {
  height: 900px;
  width: 100%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.company_room {
  /* room */
  z-index: 1;
  position: absolute;
  width: 1280px;
  height: auto;
  top: 400px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}


.mediakit {
  /* mediakit */
  z-index: 4;
  position: absolute;
  width: auto;
  height: 355px;
  margin-top: 53px;
  margin-left: 80px;
  top: 400px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.toyo {
  /* toyosan */
  z-index: 9;
  position: absolute;
  width: auto;
  height: 300px;
  margin-top: 0px;
  margin-left: -350px;
  top: 400px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.chair {
  /* table */
  z-index: 3;
  position: absolute;
  width: 643px;
  height: auto;
  margin-top: 230px;
  margin-left: 100px;
  top: 400px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.clothes {
  /* clothes */
  z-index: 2;
  position: absolute;
  width: 360px;
  height: auto;
  margin-top: 20px;
  margin-left: 420px;
  top: 400px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.takakuwa {
  /* takakuwa */
  z-index: 9;
  position: absolute;
  width: auto;
  height: 300px;
  margin-top: 280px;
  margin-left: 540px;
  top: 400px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.montiraymi {
  /* montiraymi */
  z-index: 9;
  position: absolute;
  width: auto;
  height: 300px;
  margin-top: 280px;
  margin-left: 340px;
  top: 400px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

/* 会社概要 */

dt {
    float: left;
    text-align: right;
    font-weight: 700;
    color: #00afea;
    padding: 15px 0;
    width: 440px;
}

dd {
    overflow: auto;
    /* float: right; */
    text-align: left;
    margin: 0px;
    overflow:auto;
    padding: 15px 0 15px 25px;
    width: 440px;
}

dl {
    margin: 0px;
    font-size: 0.7rem;
    letter-spacing: 0.2em;
}

.colour {
  color:#fafafa;
}

.l-overview {
    padding: 15px 15px;
    background: #fafafa;
    border-radius: 5px;        /* CSS3 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome */
    -moz-border-radius: 5px;
}

.company-information {
    padding: 0px 150px;
    width: 940px;
    position: relative;
    margin: auto;
}

.section1 {
    background-color: #fafafa;
    padding: 15px 0px;
    display: block;
    box-sizing: border-box;
    text-align: center;
    -webkit-margin-before: 15px;
    -webkit-margin-after: 15px;
}

.access-information {
    padding: 0px 150px;
    width: 940px;
    position: relative;
    margin: auto;
}

.section2 {
    background-color: #fafafa;
    padding: 15px 0px;
    display: block;
    box-sizing: border-box;
    text-align: center;
    -webkit-margin-before: 75px;
    -webkit-margin-after: 15px;
}

.companyrect {
    background-color: #fafafa;
    padding: 5px;
    margin: 5px;
    width: 50%;
    height: auto;
    float: left;
    -moz-border-radius: 10px;
}

.float-clear {
    clear: both;
}

.company-access {
    padding-top: 80px;
    width: 940px;
    position: relative;
    margin: auto;
}

/* BOTTOM */
/* images */

#bottom  {
  height: 1400px;
  width: 1280px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.inner6 {
  height: 1500px;
  width: 100%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.garden {
  z-index: 1;
  position: absolute;
  width: 1280px;
  height: auto;
  margin-top: 800px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.saimura {
  z-index: 2;
  position: absolute;
  height: 270px;
  width: auto;
  right: 50%;
  margin-top: 1080px;
  margin-right: 390px;
  -webkit-transform: translate(50%,-50%);
  -moz-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  -ms-transform: translate(50%,-50%);
}

.ozawa {
  z-index: 2;
  position: absolute;
  height: 260px;
  width: auto;
  right: 50%;
  margin-top: 1080px;
  margin-right: 160px;
  -webkit-transform: translate(50%,-50%);
  -moz-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  -ms-transform: translate(50%,-50%);
}

.mori {
  z-index: 2;
  position: absolute;
  height: 360px;
  width: auto;
  left: 50%;
  margin-top: 1180px;
  margin-left: 105px;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.kato {
  z-index: 2;
  position: absolute;
  height: 294px;
  width: auto;
  left: 50%;
  margin-top: 1200px;
  margin-left: 390px;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.clear {
  clear: both;
}

#mainContents {
  /* すべてのコンテンツに対して適応 */
  position: absolute;
  z-index: 100;
  float: none;
  margin: 0px auto;
  width: 800px;
  top: 355px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  height:430px;
  overflow-x: hidden;
}

#mainContents a {
  color: #00afea;
  text-decoration: none;
  font-family: 'HelveticaNeue-UltraLight';
}

/*a:hover {
  color: #06F;  
}*/

#newpress, #newinfo {
  font-family: 'Raleway', sans-serif;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #00afea;
  font-weight: 100;
  font-size: 3em;
  margin-top: 10px;
  margin-bottom: 10px;
}

div#newpress, div#newinfo{
    margin-top: -200px; /* リンク位置上昇分 */
    padding-top: 200px; /* 上昇分を戻す分 */
}

/* New Information */
#info {
  margin-top:40px;
  margin-bottom:80px;
}

#pressRelease {
  padding-bottom: 60px;
  width: 100%;
}

#information {
  width: 100%;
}


.title {
  height: 30px;
  padding-bottom: 10px;
}

.title .more {
  float: right;
  font-size: 13px;
  padding-right: 50px;
}

.archives {
  border-top: 2px solid #444547;
  font-size: 13px;
}

.archives li {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","ヒラギノ角ゴ ProW3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
  border-bottom: 1px solid #00afea;
  padding: 15px 0px;
  width: 100%;
  float: left;
  text-align: center;
  line-height: 250%;
}

.archives li:hover {
  background-color: #f9f9f9;
}

.archives li .date {
  width: 10%;
  float: left;
  text-align: left;
  line-height: 1.5;
}

.archives li .detail {
  margin-left: 8%;
  width: 75%;
  float: left;
  text-align: justify;
  line-height: 2;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.archives {
  list-style-type: none;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: inline;
}

/*li a:hover {
  color: #0CF;
}*/

#infolink {
  text-align: center;
  margin: 1.0rem 0;
}

#infolink span {
  color: #f2f2f2;
}

#scrollbar {
  overflow:scroll;
  height:430px;
  border:0px solid black;
  overflow-x: hidden;
}

#scrollbar .longrect {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #f2f2f2;
  margin-top: 1.2rem;
  margin-bottom: 3.0rem;
}

#content_info {
  height: auto;
}