<div id="mainContents">
        		<div id="pressRelease">
					<div class="title">
						<h2>New Pressrelease</h2>
					 	<p class="more">
							<a href="/press">more...</a>
					 	</p>
					</div>
					<ul class="archives">
							<a href="/press/detail?id=26">
								<li class="clearfix">
									<span class="date">
										2016<br>
										11/04
									</span>
									<span class="detail">株式会社きちりとHR テック（HR TECH）分野における資本業務提携契約締結に関するお知らせ</span>
								</li>
								<div class="clear"></div>
							</a>
							<a href="/press/detail?id=25">
								<li class="clearfix">
									<span class="date">
										2016<br>
										11/02
									</span>
									<span class="detail">国内外でユニークな人事労務制度を運用する企業54社を発表</span>
								</li>
								<div class="clear"></div>
							</a>
							<a href="/press/detail?id=24">
								<li class="clearfix">
									<span class="date">
										2016<br>
										08/25
									</span>
									<span class="detail">「法人番号（法人版マイナンバー）」検索で月間15万人以上が利用する「Gozal 会社ナビ」に利用者動向データに基づいたサービスを追加。</span>
								</li>
								<div class="clear"></div>
							</a>
							<a href="/press/detail?id=23">
								<li class="clearfix">
									<span class="date">
										2016<br>
										08/01
									</span>
									<span class="detail">国税庁の法人マイナンバーを活用する「Gozal 会社ナビ」リリースから1か月で月間利用ユーザー数が15万人を突破</span>
								</li>
								<div class="clear"></div>
							</a>
							<a href="/press/detail?id=22">
								<li class="clearfix">
									<span class="date">
										2016<br>
										03/04
									</span>
									<span class="detail">国家資格保有者登録数No.1のクラウドソーシングサービス「Gozal」アジア最大級のIT系ピッチイベント「B Dash Camp」にて準優勝</span>
								</li>
								<div class="clear"></div>
							</a>
					</ul>
				</div>
				<!-- information -->			
				<div id="information">
					<div class="title">
						<h2>New Information</h2>
						<p class="more">
							<a href="/information">more...</a>
						</p>
					</div>
					<ul class="archives">
							<a href="/information/detail?id=3">
								<li class="clearfix">
									<span class="date">
										2015<br>
										05/12
									</span>
									<span class="detail">株式会社BECの会社概要スライドを公開しました</span>
								</li>
								<div class="clear"></div>
							</a>
							<a href="/information/detail?id=2">
								<li class="clearfix">
									<span class="date">
										2014<br>
										02/28
									</span>
									<span class="detail">海外需要獲得型の創業補助金を獲得しました</span>
								</li>
								<div class="clear"></div>
							</a>
							<a href="/information/detail?id=1">
								<li class="clearfix">
									<span class="date">
										2013<br>
										09/29
									</span>
									<span class="detail">【サイバーエージェント社主催】アントレプレナーイノベーションキャンプにて優勝</span>
								</li>
								<div class="clear"></div>
							</a>
					</ul>
				</div>
			</div>