.inner7 {
    width: 940px;
    height: auto;
    margin: 0 auto;
}

dt {
    float: left;
    font-weight: 700;
    color: #00afea;
    padding: 15px 0px 0px 15px;
}

dd {
    padding: 15px 0px 15px 120px;
}

dd, dl {
    margin: 0px;
    font-size: 0.7rem;
    letter-spacing: 0.2em;
}

.l-overview {
    padding: 15px 15px;
    background: rgb(255, 255, 255);
    border-radius: 5px;        /* CSS3 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome */
    -moz-border-radius: 5px;
}

.company-information {
    padding: 0px 150px;
    width: 600px;
    position: relative;
    margin: auto;
}

.section1 {
    background-color: #fafafa;
    padding: px 0px;
    display: block;
    box-sizing: border-box;
    text-align: center;
}


.companyrect {
    background-color: #fafafa;
    padding: 5px;
    margin: 5px;
    width: 50%;
    height: auto;
    float: left;
    -moz-border-radius: 10px;
}

.float-clear {
    clear: both;
}
