
@charset "UTF-8";
/* font */
@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300);

/* 各種デフォルト値 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
 
body {
	margin:0;
  	padding:0;
  	overflow-y: scroll;
  	overflow-x: hidden;
	width:100%;
}

.clear {
	clear: both;
}


#mainContents a {
	color: #00afea;
	text-decoration: none;
	font-family: 'HelveticaNeue-UltraLight';
}

/*a:hover {
	color: #06F;	
}*/

#newpress, #newinfo {
	font-family: 'Raleway', sans-serif;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	color: #00afea;
	font-weight: 100;
	font-size: 3em;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Information */
#info {
	margin-top:40px;
	margin-bottom:80px;
}

#pressRelease {
	padding-bottom: 60px;
	width: 100%;
}

#information {
	width: 100%;
}


.title {
	height: 30px;
	padding-bottom: 10px;
}



.title .more {
	float: right;
	font-size: 13px;
	padding-right: 50px;
}

.archives {
	border-top: 2px solid #444547;
	font-size: 13px;
}

.archives li {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","ヒラギノ角ゴ ProW3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
	border-bottom: 1px solid #00afea;
	padding: 15px 0px;
	width: 100%;
	float: left;
	text-align: center;
	line-height: 250%;
}

.archives li:hover {
	background-color: #f9f9f9;
}

.archives li .date {
	width: 10%;
	float: left;
	text-align: left;
	line-height: 1.5;
}

.archives li .detail {
	margin-left: 8%;
	width: 75%;
	float: left;
	text-align: left;
	line-height: 2;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


#mainContents {
	float: none;
	margin: 0px auto;
	width: 800px;
}


.archives {
	list-style-type: none;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	display: inline;
}

/*li a:hover {
	color: #0CF;
}*/

#infolink {
	text-align: center;
	margin: 1.0rem 0;
}

#infolink span {
	color: #f2f2f2;
}

#scrollbar {
	overflow-y:scroll;
	height:400px;
}

#scrollbar .longrect {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #f2f2f2;
  margin-top: 1.2rem;
  margin-bottom: 3.0rem;
}
